<h2><%= @query %></h2>

<h3>Vælg betydning</h3>
<p>Der er registreret flere betydninger for <em><%= @query %></em>. Vælg en</p>
<ol>
    <%= render :partial => 'sense', :collection => @senses  %>
</ol>
